@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

html {
    background-color: hsl(257, 40%, 49%);
    background-image: url( '/images/bg-desktop.svg' );
    font-family: "Poppins", "Open Sans", "Arial", sans-serif;
}
.title-content {
    color: white;
    width: 10cm;
    position: relative;
    top: 2cm;
    left: 21.5cm;
    flex-direction: column
}

.description {
    color: white;
    position: relative;
    left: 21.5cm;
    top: 2cm;
    width: 13cm;
}

.btn-register {
    background-color: white;
    outline: none;
    border: none;
    border-radius: 20px;
    width: 4cm;
    height: 1.2cm;
    font-size: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: inherit;
    color: hsl(257, 40%, 49%);
    cursor: pointer;    
    transition: all 200ms ease-out;
    position: relative;
    top: 2cm;
    left: 21.5cm;
}

.btn-register:hover {
    transition-delay: 50ms;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 20px;
    width: 4.2cm;
    height: 1.3cm;
    font-size: 16px;
    box-shadow: 2px 3px 7px black;
    font-family: inherit;
    background-color: hsl(300, 69%, 71%);
    color: #fff;
    cursor: pointer;
}

.logo {
    width: 5cm;
    padding: 1cm;
}

.mockup {
    position: absolute;
    top: 5cm;
    left: 2cm;
}

.instagram-icon {
    width: 1cm;
    position: relative;
    top: 7cm;
    left: 37.5cm;
    cursor: pointer;
}

.twitter-icon {
    position: relative;
    width: 1cm;
    top: 7cm;
    left: 35cm;
    cursor: pointer;
}