@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

html {
    background-color: hsl(257, 40%, 49%);
    background-image: url( '/images/bg-desktop.svg' );
    font-family: "Poppins", "Open Sans", "Arial", sans-serif;
}

svg {
    z-index: -9999;
}

.title-content {
    color: white;
}

.description {
    color: white;
}